@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Merriweather&display=swap");

<<<<<<< Updated upstream
=======
<<<<<<< HEAD
=======
>>>>>>> Stashed changes
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

<<<<<<< Updated upstream
=======
>>>>>>> e1dea5473ce4f5b3985902ed838923664c369530
>>>>>>> Stashed changes
body {
   max-width: 2560px;
}

<<<<<<< Updated upstream
=======
<<<<<<< HEAD
.nav {
   font-family: "Merriweather", serif;
   position: sticky;
   display: flex;
   justify-content: space-around;
   align-items: center;
   height: 8rem;
   z-index: 999;
   background-color: black;
   width: 100vw;
}

.nav__link {
   display: flex;
   align-items: center;
}

.nav__img {
   max-width: 40px;
}

.nav__title {
   font-size: 1.6rem;
   background: linear-gradient(to right, red, orange, #2980b9, #3498db, #8e44ad, #e74c3c, #e84393);
   -webkit-background-clip: text;
   background-clip: text;
   color: transparent;
   padding: 1rem;
   animation-delay: 0.2s;
}

.nav__main-menu {
   display: flex;
   align-items: center;
}

.main-menu__item {
   position: relative;
}

.main-menu__link {
=======
>>>>>>> Stashed changes
#navbar {
   font-family: "Merriweather", serif;
   position: sticky;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 60px;
   z-index: 999;
   background-color: black;
   width: 100%;
   padding: 0 15px;
}

.logo {
   display: flex;
   align-items: center;
   text-decoration: none;
}

.logo img {
   max-width: 60px;
   height: 40px;
}

.logo-span {
   font-size: 20px;
   padding: 0 5px;
   background: linear-gradient(to right, red, orange, #2980b9, #3498db, #8e44ad, #e74c3c, #e84393);
   -webkit-background-clip: text;
   -moz-background-clip: text;
   background-clip: text;
   color: transparent;
   animation-delay: 0.2s;
}

ul.main-menu {
   display: flex;
   list-style: none;
}

ul.main-menu li {
   position: relative;
}

ul.main-menu li:nth-child(1) {
   animation-delay: 0.4s;
}

ul.main-menu li:nth-child(2) {
   animation-delay: 0.6s;
}

ul.main-menu li:nth-child(3) {
   animation-delay: 0.8s;
}

ul.main-menu li:nth-child(4) {
   animation-delay: 1s;
}

ul.main-menu li:nth-child(5) {
   animation-delay: 1.2s;
}

ul.main-menu li a {
<<<<<<< Updated upstream
=======
>>>>>>> e1dea5473ce4f5b3985902ed838923664c369530
>>>>>>> Stashed changes
   position: relative;
   display: flex;
   align-items: center;
   gap: 5px;
<<<<<<< Updated upstream
=======
<<<<<<< HEAD
   color: #fff;
   padding: 1rem 1.5rem;
   z-index: 10;
   font-size: 2rem;
}

.main-menu__link::after {
   content: "";
   position: absolute;
   width: 0;
   height: 10%;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%) scaleX(0);
   transform-origin: center left;
   background-color: red;
   z-index: -1;
   transition: 0.3s;
}

.main-menu__link i,
.sub-menu__link i {
   transition: 0.5s ease-in-out;
}

.nav__sub-menu {
   position: absolute;
   background-color: black;
=======
>>>>>>> Stashed changes
   text-decoration: none;
   color: #fff;
   padding: 15px;
   z-index: 10;
   font-size: 20px;
}

ul.main-menu li a i {
   transition: 0.5s ease-in-out;
}

ul.sub-menu {
   position: absolute;
   background-color: black;
   list-style: none;
<<<<<<< Updated upstream
=======
>>>>>>> e1dea5473ce4f5b3985902ed838923664c369530
>>>>>>> Stashed changes
   width: max-content;
   z-index: 9;
   transform: translateY(-50%);
   transition: 0.5s ease;
   visibility: hidden;
   opacity: 0;
}

<<<<<<< Updated upstream
=======
<<<<<<< HEAD
.sub-menu__item {
   position: relative;
   border-bottom: 1px solid red;
}

.sub-menu__link {
   position: relative;
   display: flex;
   padding: 1rem 2rem;
   font-size: 1.6rem;
   justify-content: space-between;
   gap: 10px;
   color: white;
   z-index: 9;
}

.sub-menu--primary {
=======
>>>>>>> Stashed changes
ul.sub-menu li {
   position: relative;
   border-bottom: 2px solid red;
}

ul.sub-menu li a {
   display: block;
   padding: 10px 20px;
   font-size: 16px;
}

ul.sub-menu ul.sub-menu {
<<<<<<< Updated upstream
=======
>>>>>>> e1dea5473ce4f5b3985902ed838923664c369530
>>>>>>> Stashed changes
   top: 0;
   left: 100%;
   position: absolute;
   transform: translateX(-50%);
<<<<<<< Updated upstream
}

ul.main-menu li:hover > ul.sub-menu {
=======
<<<<<<< HEAD
   z-index: 8;
}

.main-menu__item:hover > .nav__sub-menu {
=======
}

ul.main-menu li:hover > ul.sub-menu {
>>>>>>> e1dea5473ce4f5b3985902ed838923664c369530
>>>>>>> Stashed changes
   visibility: visible;
   opacity: 1;
   transform: translateY(0);
}

<<<<<<< Updated upstream
=======
<<<<<<< HEAD
.main-menu__item:hover > .main-menu__link::after {
   width: 100%;
   transform: translateX(-50%) scaleX(1);
   transform-origin: center right;
}

/* .main-menu__link:hover,
.sub-menu__link:hover {
   background-color: white;
   color: black;
} */

.main-menu__link::after:hover {
   width: 100%;
   transform: translateX(-50%) scaleX(1);
   transform-origin: center right;
}

.main-menu__item:hover > .main-menu__link i,
.sub-menu__item:hover > .sub-menu__link i {
   transform: rotate(-180deg);
}

.sub-menu__item:hover > .sub-menu--primary {
=======
>>>>>>> Stashed changes
ul.main-menu li a:hover {
   background-color: white;
   color: black;
}

ul.main-menu li:hover > a i {
   transform: rotate(-180deg);
}

ul.sub-menu li:hover > ul.sub-menu {
<<<<<<< Updated upstream
=======
>>>>>>> e1dea5473ce4f5b3985902ed838923664c369530
>>>>>>> Stashed changes
   visibility: visible;
   opacity: 1;
   transform: translateX(0);
}

<<<<<<< Updated upstream
.nav-right {
=======
<<<<<<< HEAD
.nav__img,
.nav__title,
.main-menu__item,
.search,
.avatar,
.cart {
   animation-name: move;
   animation-duration: 0.4s;
   animation-timing-function: linear;
   animation-fill-mode: forwards;
   opacity: 0;
}

.item--animation-1 {
   animation-delay: 0.4s;
}

.item--animation-2 {
   animation-delay: 0.6s;
}

.item--animation-3 {
   animation-delay: 0.8s;
}

.item--animation-4 {
   animation-delay: 1s;
}

.item--animation-5 {
   animation-delay: 1.2s;
}

.nav__right {
=======
.nav-right {
>>>>>>> e1dea5473ce4f5b3985902ed838923664c369530
>>>>>>> Stashed changes
   display: flex;
   align-items: center;
}

<<<<<<< Updated upstream
.search {
=======
<<<<<<< HEAD
.right__search {
=======
.search {
>>>>>>> e1dea5473ce4f5b3985902ed838923664c369530
>>>>>>> Stashed changes
   position: relative;
   margin-right: 20px;
   animation-delay: 1.4s;
}

<<<<<<< Updated upstream
.search > i,
.avatar i,
.cart i {
=======
<<<<<<< HEAD
.right__search > i,
.right__user i,
.right__cart i {
=======
.search > i,
.avatar i,
.cart i {
>>>>>>> e1dea5473ce4f5b3985902ed838923664c369530
>>>>>>> Stashed changes
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 40px;
   height: 40px;
   font-size: 24px;
   border-radius: 50%;
   background-color: #fff;
   color: black;
   cursor: pointer;
   z-index: 10;
}

<<<<<<< Updated upstream
.search-form {
=======
<<<<<<< HEAD
.search__form {
=======
.search-form {
>>>>>>> e1dea5473ce4f5b3985902ed838923664c369530
>>>>>>> Stashed changes
   position: absolute;
   right: 0;
   visibility: hidden;
   opacity: 0;
   transform: translateY(50%);
   transition: 0.25s ease;
}

.form {
   position: relative;
   display: flex;
   align-items: center;
}

<<<<<<< Updated upstream
.search-input {
=======
<<<<<<< HEAD
.form__input {
=======
.search-input {
>>>>>>> e1dea5473ce4f5b3985902ed838923664c369530
>>>>>>> Stashed changes
   outline: none;
   padding: 5px 5px 5px 30px;
   font-size: 16px;
   border-radius: 30px;
   background-color: #fff;
   right: 0;
}

<<<<<<< Updated upstream
=======
<<<<<<< HEAD
.form__input:focus {
   border-color: #3498db;
}

.form__btn {
=======
>>>>>>> Stashed changes
.search-input:focus {
   border-color: #3498db;
}

.search-btn {
<<<<<<< Updated upstream
=======
>>>>>>> e1dea5473ce4f5b3985902ed838923664c369530
>>>>>>> Stashed changes
   position: absolute;
   left: 5px;
   background: none;
   border: none;
   cursor: pointer;
}

<<<<<<< Updated upstream
.search-btn i {
=======
<<<<<<< HEAD
.form__btn i {
=======
.search-btn i {
>>>>>>> e1dea5473ce4f5b3985902ed838923664c369530
>>>>>>> Stashed changes
   font-size: 18px;
   color: black;
}

<<<<<<< Updated upstream
.search:hover > .search-form {
=======
<<<<<<< HEAD
.right__search:hover > .search__form {
=======
.search:hover > .search-form {
>>>>>>> e1dea5473ce4f5b3985902ed838923664c369530
>>>>>>> Stashed changes
   visibility: visible;
   opacity: 1;
   transform: translateY(0);
}

<<<<<<< Updated upstream
.search::after,
.avatar::after {
=======
<<<<<<< HEAD
.right__search::after,
.right__user::after {
=======
.search::after,
.avatar::after {
>>>>>>> e1dea5473ce4f5b3985902ed838923664c369530
>>>>>>> Stashed changes
   content: "";
   position: absolute;
   display: block;
   border-right: 1px solid white;
   height: 100%;
   top: 0;
   right: -10px;
}

<<<<<<< Updated upstream
.avatar {
=======
<<<<<<< HEAD
.right__user {
=======
.avatar {
>>>>>>> e1dea5473ce4f5b3985902ed838923664c369530
>>>>>>> Stashed changes
   position: relative;
   margin-right: 20px;
   animation-delay: 1.6s;
}

<<<<<<< Updated upstream
.avatar-log {
=======
<<<<<<< HEAD
.user__choose {
=======
.avatar-log {
>>>>>>> e1dea5473ce4f5b3985902ed838923664c369530
>>>>>>> Stashed changes
   position: absolute;
   visibility: hidden;
   opacity: 0;
   left: calc(-50% - 20px);
   transform: translateY(50%);
   transition: 0.5s ease;
   width: max-content;
   text-align: center;
}

<<<<<<< Updated upstream
=======
<<<<<<< HEAD
.user__log {
   background-color: black;
}

.user__log a {
=======
>>>>>>> Stashed changes
.user-log {
   background-color: black;
}

.user-log a {
<<<<<<< Updated upstream
=======
>>>>>>> e1dea5473ce4f5b3985902ed838923664c369530
>>>>>>> Stashed changes
   display: block;
   text-decoration: none;
   color: white;
   padding: 8px 15px;
   font-size: 16px;
}

<<<<<<< Updated upstream
.avatar:hover > .avatar-log {
=======
<<<<<<< HEAD
.right__user:hover > .user__choose {
=======
.avatar:hover > .avatar-log {
>>>>>>> e1dea5473ce4f5b3985902ed838923664c369530
>>>>>>> Stashed changes
   visibility: visible;
   opacity: 1;
   transform: translateY(0);
}

<<<<<<< Updated upstream
.user-log a:hover {
=======
<<<<<<< HEAD
.user__log a:hover {
=======
.user-log a:hover {
>>>>>>> e1dea5473ce4f5b3985902ed838923664c369530
>>>>>>> Stashed changes
   background-color: white;
   color: black;
}

<<<<<<< Updated upstream
.cart {
=======
<<<<<<< HEAD
.right__cart {
=======
.cart {
>>>>>>> e1dea5473ce4f5b3985902ed838923664c369530
>>>>>>> Stashed changes
   position: relative;
   margin-right: 10px;
   animation-delay: 1.8s;
}

<<<<<<< Updated upstream
.cart-number {
=======
<<<<<<< HEAD
.cart__number {
=======
.cart-number {
>>>>>>> e1dea5473ce4f5b3985902ed838923664c369530
>>>>>>> Stashed changes
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   top: -10px;
   right: -10px;
   font-size: 10px;
   width: 25px;
   height: 25px;
   color: black;
   font-weight: 600;
   border: 1px solid black;
   border-radius: 50%;
   background-color: white;
   z-index: 11;
}

<<<<<<< Updated upstream
=======
<<<<<<< HEAD
=======
>>>>>>> Stashed changes
.logo img,
.logo-span,
ul.main-menu li,
.search,
.avatar,
.cart {
   animation-name: move;
   animation-duration: 0.4s;
   animation-timing-function: linear;
   animation-fill-mode: forwards;
   opacity: 0;
}

<<<<<<< Updated upstream
=======
>>>>>>> e1dea5473ce4f5b3985902ed838923664c369530
>>>>>>> Stashed changes
@keyframes move {
   from {
      opacity: 0;
      transform: translateX(-30px);
   }
   to {
      opacity: 1;
      transform: translateX(0);
   }
}
