@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Merriweather&display=swap");

body {
   max-width: 2560px;
}

.nav {
   font-family: "Merriweather", serif;
   position: sticky;
   display: flex;
   justify-content: space-around;
   align-items: center;
   height: 8rem;
   z-index: 999;
   background-color: black;
   width: 100vw;
}

.nav__link {
   display: flex;
   align-items: center;
}

.nav__img {
   max-width: 40px;
}

.nav__title {
   font-size: 2rem;
   background: linear-gradient(to right, red, orange, #2980b9, #3498db, #8e44ad, #e74c3c, #e84393);
   -webkit-background-clip: text;
   background-clip: text;
   color: transparent;
   animation-delay: 0.2s;
}

.nav__main-menu {
   display: flex;
   align-items: center;
}

.main-menu__item {
   position: relative;
}

.main-menu__link {
   position: relative;
   display: flex;
   align-items: center;
   gap: 5px;
   color: #fff;
   padding: 1rem 1.5rem;
   z-index: 10;
   font-size: 2rem;
}

.main-menu__link i,
.sub-menu__link i {
   transition: 0.5s ease-in-out;
}

.nav__sub-menu {
   position: absolute;
   background-color: black;
   width: max-content;
   z-index: 9;
   transform: translateY(-50%);
   transition: 0.5s ease;
   visibility: hidden;
   opacity: 0;
}

.sub-menu__item {
   position: relative;
   border-bottom: 1px solid red;
}

.sub-menu__link {
   position: relative;
   display: flex;
   padding: 1rem 2rem;
   font-size: 1.6rem;
   justify-content: space-between;
   color: white;
   z-index: 9;
}

.sub-menu--primary {
   top: 0;
   left: 100%;
   position: absolute;
   transform: translateX(-50%);
   z-index: 8;
}

.main-menu__item:hover > .nav__sub-menu {
   visibility: visible;
   opacity: 1;
   transform: translateY(0);
}

.main-menu__link:hover,
.sub-menu__link:hover {
   background-color: white;
   color: black;
   border-bottom: 2px solid red;
}

.main-menu__item:hover > .main-menu__link i,
.sub-menu__item:hover > .sub-menu__link i {
   transform: rotate(-180deg);
}

.sub-menu__item:hover > .sub-menu--primary {
   visibility: visible;
   opacity: 1;
   transform: translateX(0);
}

.nav__img,
.nav__title,
.main-menu__item,
.search,
.avatar,
.cart {
   animation-name: move;
   animation-duration: 0.4s;
   animation-timing-function: linear;
   animation-fill-mode: forwards;
   opacity: 0;
}

.item--animation-1 {
   animation-delay: 0.4s;
}

.item--animation-2 {
   animation-delay: 0.6s;
}

.item--animation-3 {
   animation-delay: 0.8s;
}

.item--animation-4 {
   animation-delay: 1s;
}

.item--animation-5 {
   animation-delay: 1.2s;
}


.nav-right {
   display: flex;
   align-items: center;
}

.search {
   position: relative;
   margin-right: 20px;
   animation-delay: 1.4s;
}

.search > i,
.avatar i,
.cart i {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 40px;
   height: 40px;
   font-size: 24px;
   border-radius: 50%;
   background-color: #fff;
   color: black;
   cursor: pointer;
   z-index: 10;
}

.search-form {
   position: absolute;
   right: 0;
   visibility: hidden;
   opacity: 0;
   transform: translateY(50%);
   transition: 0.25s ease;
}

.form {
   position: relative;
   display: flex;
   align-items: center;
}

.search-input {
   outline: none;
   padding: 5px 5px 5px 30px;
   font-size: 16px;
   border-radius: 30px;
   background-color: #fff;
   right: 0;
}

.search-input:focus {
   border-color: #3498db;
}

.search-btn {
   position: absolute;
   left: 5px;
   background: none;
   border: none;
   cursor: pointer;
}

.search-btn i {
   font-size: 18px;
   color: black;
}

.search:hover > .search-form {
   visibility: visible;
   opacity: 1;
   transform: translateY(0);
}

.search::after,
.avatar::after {
   content: "";
   position: absolute;
   display: block;
   border-right: 1px solid white;
   height: 100%;
   top: 0;
   right: -10px;
}

.avatar {
   position: relative;
   margin-right: 20px;
   animation-delay: 1.6s;
}

.avatar-log {
   position: absolute;
   visibility: hidden;
   opacity: 0;
   left: calc(-50% - 20px);
   transform: translateY(50%);
   transition: 0.5s ease;
   width: max-content;
   text-align: center;
}

.user-log {
   background-color: black;
}

.user-log a {
   display: block;
   text-decoration: none;
   color: white;
   padding: 8px 15px;
   font-size: 16px;
}

.avatar:hover > .avatar-log {
   visibility: visible;
   opacity: 1;
   transform: translateY(0);
}

.user-log a:hover {
   background-color: white;
   color: black;
}

.cart {
   position: relative;
   margin-right: 10px;
   animation-delay: 1.8s;
}

.cart-number {
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   top: -10px;
   right: -10px;
   font-size: 10px;
   width: 25px;
   height: 25px;
   color: black;
   font-weight: 600;
   border: 1px solid black;
   border-radius: 50%;
   background-color: white;
   z-index: 11;
}

@keyframes move {
   from {
      opacity: 0;
      transform: translateX(-30px);
   }
   to {
      opacity: 1;
      transform: translateX(0);
   }
}
