*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider {
    width: 1519px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
}
.slides {
   display: flex;
   width: 500%;
   height: 500px;
}
